
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = {
      "corosync-authkey-generator": { "unique": true,  "count":  1 },
      "corosync-cluster-member"   : { "unique": false, "count": -1 }
    };
    node_selector($('#drag_drop'), constraints);
  });

